{% extends "base.html" %}
{% block content %}
    <div class="ui right aligned center aligned grid">
        <div class="column six wide">
            {% for ostad in asatid %}
                <div class="ui card" id="id_teacher_{{ forloop.counter0 }}">
                    <div class="content">
                        <div class="header"><a name="username" href="/profile/?username={{ ostad.username }}"
                                               id="id_username">{{ ostad.username }}</a></div>
                    </div>
                    <div class="content">
                        <div class="ui small feed">
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        <span id="id_first_name">{{ ostad.first_name }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        <span id="id_last_name">{{ ostad.last_name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
            {% endfor %}
             </div>

    </div>
{% endblock %}